@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<p>This is an ongoing personal project to make an application for the creation of characters for 
    the <a href="https://www.montecookgames.com/store/product/numenera-discovery-and-destiny/">Numenera TTRPG</a>.</p>
    
<p><a href="https://www.montecookgames.com/store/product/numenera-discovery-and-destiny/">Numenera</a> 
    is a creation of <a href="https://www.montecookgames.com/">Monte Cook Games</a> and
    is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>
</p>
