@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Project available here: </strong>   <a href="https://github.com/zanderriggs/NumeneraCharGen" target="_blank">Github</a><br />
</address>