@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Numenera Character Generator</h1>
    <p class="lead">This is a character generator web app for Numenera, a TTRPG from Monte Cook Games.</p>
    <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Learn More", "About", "Home")</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Create a New Character</h2>
        <p>
            This will walk you through the simple process of creating a character
            by selecting a Descriptor, Type, and Focus.
        </p>
        <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Start Here", "Index", "Character")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Numenera Info</h2>
        <p>Numenera runs on the Cypher System from Monte Cook Games. Learn more about the different character "Types" here.</p>
        <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Learn More", "Index", "Type")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Monte Cook Games</h2>
        <p>Purchase rulebooks and suppliments from the MCG store!</p>
        <p><a class="btn btn-primary btn-lg" href="https://www.montecookgames.com/" target="_blank">Shop &raquo;</a></p>
    </div>
</div>
